name: Deploy to WordPress.org

on:
    push:
        tags:
            - '*'

permissions:
    contents: write


jobs:
    deploy:
        name: Deploy to WordPress.org
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  tools: composer

            - name: Install npm dependencies
              run: npm ci

            - name: Install composer dependencies
              run: composer install --prefer-dist --no-progress --no-dev

            - name: Build plugin
              run: npm run build

            - name: Create Release Zip
              run: |
                  mkdir -p photo-collage-release/photo-collage
                  rsync -rc --exclude-from=.distignore . photo-collage-release/photo-collage/
                  cd photo-collage-release
                  zip -r ../photo-collage.zip photo-collage
                  cd ..

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  files: photo-collage.zip
                  generate_release_notes: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Deploy to WordPress.org
              uses: 10up/action-wordpress-plugin-deploy@stable
              env:
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
